.request {
    padding: 80px 0px 0px 260px;
    min-height: 100%;
    background-color: #f7f7f7;
}

.request__list {
    width: 100%;
    min-height: calc(100% - 54px);
    padding: 32px 15px 20px 15px;
}
.request__card {
    width: 390px;
    height: 227px;
    margin: 5px;
    display: inline-block;
    padding: 15px;
    position: relative;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
}
.request__card__row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.request__card__row1__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row1__car-number {
    color: #000000;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: bold;
    margin-right: 10px;
}
.row1__request-number {
    color: #000000;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 15px;
    margin-right: 5px;
}

.row1__request-date {
    color: #999999;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 15px;
}
.request__card__row2 {
    margin-top: 10px;
}
.request__card__row3 {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
    font-family: Montserrat;
}

.request__card__row4 {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.request__card__row4 img {
    margin: 0px 5px;
}
.request__card__row5,
.request__card__row6 {
    font-size: 12px;
}
.request__card__row5 span:nth-child(1),
.request__card__row6 span:nth-child(1) {
    color: #999;
    margin-right: 10px;
}
.request__card__row7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    margin: 0px -15px;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.request__card__row7 img {
    margin-right: 5px;
}
.row7__button__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.divider {
    border: 1px solid #e5e5e5;
    width: 1px;
    height: 30px;
}
.request__cancel {
    cursor: pointer;
}

/* 상태값 */
.status {
    display: inline-block;
    width: 54px;
    height: 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
/* 상태 색상 */
.status__request {
    background: rgba(0, 134, 75, 0.1);
    color: #00864b;
}
.status__confirm_order {
    background: rgba(59, 105, 230, 0.1);
    color: #3b69e6;
}
.status__complete_delivery {
    background: rgba(153, 153, 153, 0.1);
    color: #999999;
}
.status__cancel {
    background: rgba(219, 62, 7, 0.1);
    color: #db3e07;
}
@media screen and (max-width: 760px) {
    .request {
        /* padding: 80px 0px 0px 0px; */
        padding: 0;
    }
    .request__card {
        width: 100%;
    }
}
